<% if user_signed_in? %>
<div class="section-empty">
  <div class="container">
    <%= form_for([current_user,question], validate: true) do |f| %>
      <% if question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
          <% question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <div class="row">
      <div class="col-xs-6">
          <%= f.label :title, "Γράψτε ένα τίτλο για την ερώτηση" %>
          <%= f.text_area :title,class: 'form-control form-value' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
          <%= f.label :body, "Γράψτε την ερώτηση" %>
          <%= f.text_area :body,class: 'form-control form-value' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <%begin%>
      <%= f.hidden_field :video_gallery_id, value: locals[:video_gallery] %>
    <%rescue%>
      <%= f.hidden_field :video_gallery_id, value: video_gallery_id %>
    <%end%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">
        <%= f.submit "Υποβολη", class:'btn btn-sm' %>
      </div>
    </div>
  </div>
</div>

<% end %>
<% end %>
