<%= render 'users/titleheader' %>



<div class="section-empty">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'users/sidemenu'%>
      </div>
      <div class="col-md-8">

        <h1>Όλες οι ερωτήσεις</h1>

        <% @questions.each do |question| %>
          <div class="sidebar-nav">
              <h4> <%=sanitize question.title , class:'boxed'%> </h4> 
              <h5><i><%=sanitize question.body %></i></h5>
              <br>
              <%= question.user.onoma %> <%= question.user.eponimo %>
              <br>
              <%= link_to 'Show', question %>
              <%= link_to 'Edit', edit_question_path(question) %>
              <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
              <hr class="a">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






