<%= render 'users/titleheader' %>

<div class="section-empty">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'users/sidemenu'%>
      </div>
      <div class="col-md-8">

        <h1>Ο/H <%=@user.onoma%> <%=@user.eponimo%> ρώτησε: </h1>
        <%= will_paginate @questions %>
        <div id="accordionn">
        <% @questions.each do |question| %>
          <h1> <%=sanitize question.title , class:'boxed'%>  | Βίντεο: <%= question.video_gallery.title %> | Υποβλήθηκε: <%= question.created_at.strftime("%d %b,%Y") %> </h1> 
              <div class="well">
            <h5><i><%=sanitize question.body %></i></h5>
            <br>
            <%= question.user.onoma %> <%= question.user.eponimo %>
            <br>
              <% question.answers.each do |answer| %>
                <div class="well">
                  <strong> Απάντηση: </strong>
                  <p>  <%= sanitize answer.body %></p>
                  <p>  <%= answer.user.onoma%> <%= answer.user.eponimo%></p>
                </div>
                <% answer.question_comments.each do |comment| %>
                <div class="well">
                  <strong> <%= comment.user.onoma %> σχολίασε: </strong>
                  <p> </p>
                  <p> <%= comment.body %></p>
                  <% if @user == current_user %>
                    <%= link_to 'Edit', edit_question_comment_path(comment) %>
                    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%end%>
                </div>
                <%end%>
                <%= render 'question_comments/form', question_comment: QuestionComment.new, :locals=> {:answer_id => answer.id }%>
              <%end%>
            <% if current_user.admin? %>
              <%= render 'answers/newform', answer: Answer.new, :locals => {:question_id => question.id}%>
            <%end%>
            <% if @user == current_user %>
              <%= link_to 'Show', question %>
              <%= link_to 'Edit', edit_question_path(question) %>
              <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
              </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
