<div class="header-title white ken-burn" data-parallax="scroll" data-position="top" data-natural-height="550" data-natural-width="1920" data-image-src="../../../images/long-2.jpg">
  <div class="container">
    <div class="title-base">
       <h1>Προσθηκη Ταξης</h1>
    </div>
  </div>
</div>
<div class="section-empty text-center">
  <div class="container content">
    <h5 class="text-center">Προσθηκη τάξης συμπληρωμα φορμας</h5>
    <hr class="space m" />
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <%= form_for(taxi,:html=>{class:'form-box'}) do |f| %>
        <% if taxi.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(taxi.errors.count, "error") %> prohibited this video_gallery from being saved:</h2>
            <ul>
              <% taxi.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <p>Τάξη</p>
      <%= f.text_field :taxi, placeholder: "προσθηκη τάξης", class:'form-control form-value' %>
    </div>
  </div>
  </div><!-- container -->
<hr class="space s" />
      <%= f.submit "Καταχώρηση", class:'btn-sm btn'%>
    <%end%>
</div><!-- section -->
