<div class="header-title white ken-burn" data-parallax="scroll" >
  <div class="container">
    <div class="title-base">
      <h1>Βιντεομαθηματα</h1>
    </div>
  </div>
</div>

<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="title-base text-left">
          <hr class="anima">
          <h4> Βιντεομαθήματα </h4>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-sm nav-justified" href="#">Μπορειτε να βρειτε τα υπολοιπα βιντεο κανοντας εγγραφη μονο με το email σας.Εντελώς δωρεάν!!</a>
      </div>
    </div><!-- row-->
  </div>
</div>
<% if !user_signed_in? %>
<div class"section-empty">
  <div class="row">
    <div class="col-md-8 col-center">
      <h3>Eπιλέξτε μάθημα</h3>
      <h2> <%=link_to "Σειρά των βίντεο" , video_galleries_path %></h2>
    </div>
  </div>
  <div class="container content">
    <div class="tab-box">
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#<%=@taxi.mathimas.first.mathima.gsub(/\s+/,"")%>"><%= @taxi.mathimas.first.mathima.partition(" ").first%></a></li>
        <% @taxi.mathimas.drop(1).each  do |m|%>
          <li>
            <a href="#<%=m.mathima.gsub(/\s+/, "")%>"><%=m.mathima.partition(" ").first %></a>
          </li>
        <%end%>
      </ul>
         <% @video_galleries.where(:taxi=>@taxi.id).order('priority asc').each do |video_gallery| %>
           <% if video_gallery.mathima.mathima.partition(" ").first == @taxi.mathimas.first.mathima.partition(" ").first%>
             <div class="panel active" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>" style="border-top-style: none; padding:5px;">
           <%else%>
             <div class="panel" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>" style="border-top-style: none; padding:5px;">
           <%end%>
              <%= link_to "#{video_gallery.title}","##{video_gallery.id}"%>
                </div>
          <%end%>
      <% @video_galleries.where(:taxi=>@taxi.id).order('priority asc').each do |video_gallery| %>
        <% if video_gallery.mathima.mathima.partition(" ").first == @taxi.mathimas.first.mathima.partition(" ").first%>
          <div class="panel active" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>">
        <%else%>
          <div class="panel" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>">
        <%end%>
      <div class="row">
      <div class="col-md-4">
        <div id="<%=video_gallery.id%>">
          <%= link_to "https://youtube.com/watch?v=#{video_gallery.body}", class: ' lightbox thumbnail data-lightbox-anima="fade-top"' do%>
          <%= image_tag "https://img.youtube.com/vi/#{video_gallery.body}/0.jpg"%>
          <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Destroy', video_gallery, method: :delete, data: { confirm: 'Are you sure?' } %>   
          <%= link_to 'Edit', edit_video_gallery_path(video_gallery) %>
          <%end%>
        <%end%>
        </div>
      </div>
      <div class="col-md-8">
        <h2><%= video_gallery.title%></h2>
        <%= render 'questions/newform',question: Question.new, :locals => {:video_gallery => video_gallery.id}%>
      </div>
    </div>
    </div>
    <%end%>
  </div>
</div>
<%else%>
<div class"section-empty">
  <div class="container content">
  <div class="row">
    <div class="col-md-8 col-center">
      <h3>Eπιλέξτε μάθημα</h3>
    </div>
  </div>
    <div class="tab-box">
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#<%=@taxi.mathimas.first.mathima.gsub(/\s+/,"")%>"><%= @taxi.mathimas.first.mathima.partition(" ").first%></a></li>
        <% @taxi.mathimas.drop(1).each  do |m|%>
          <li>
            <a href="#<%=m.mathima.gsub(/\s+/, "")%>"><%=m.mathima.partition(" ").first %></a>
          </li>
        <%end%>
      </ul>
         <% @video_galleries.where(:taxi=>@taxi.id).each do |video_gallery| %>
           <% if video_gallery.mathima.mathima.partition(" ").first == @taxi.mathimas.first.mathima.partition(" ").first%>
             <div class="panel active" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>" style="border-top-style: none; padding:5px;">
           <%else%>
             <div class="panel" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>" style="border-top-style: none; padding:5px;">
           <%end%>
              <%= link_to "#{video_gallery.title}","##{video_gallery.id}"%>
                </div>
          <%end%>
<% @taxi.mathimas.each do |m| %>
  <% m.video_galleries.where(:taxi=>@taxi.id).limit(5).each do |video_gallery| %>
        <% if video_gallery.mathima.mathima.partition(" ").first == @taxi.mathimas.first.mathima.partition(" ").first%>
          <div class="panel active" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>">
        <%else%>
          <div class="panel" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>">
        <%end%>
    <div class="row">
      <div class="col-md-4">
        <div id="<%=video_gallery.id%>">
        <%= link_to "https://youtube.com/watch?v=#{video_gallery.body}", class: ' lightbox thumbnail data-lightbox-anima="fade-top"' do%>
            <%= image_tag "https://img.youtube.com/vi/#{video_gallery.body}/0.jpg"%>
          <%end%>
        </div>
      </div>
      <div class="col-md-8">
        <h2><%= video_gallery.title%></h2>
      </div>
    </div>
    </div>
  <%end%>
  <% m.video_galleries.where(:taxi=>@taxi.id).drop(5).each do |video_gallery| %>
        <% if video_gallery.mathima.mathima.partition(" ").first == @taxi.mathimas.first.mathima.partition(" ").first%>
          <div class="panel active" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>">
        <%else%>
          <div class="panel" id="<%=video_gallery.mathima.mathima.gsub(/\s+/, "")%>">
        <%end%>
    <div class="row">
      <div class="col-md-4">
        <div id="<%=video_gallery.id%>">
            <%= image_tag "https://img.youtube.com/vi/#{video_gallery.body}/0.jpg"%>
        </div>
      </div>
      <div class="col-md-8">
        <h2 style="color:#069"><%= video_gallery.title%></h2>
      </div>
    </div>
    </div>
  <%end%>
<%end%>
    </div>
  </div>
    </div>
  </div>
</div>
<%end%>
<%if user_signed_in? && current_user.admin?%>
  <%= link_to 'Προσθήκη Video', new_video_gallery_path %>
  <%= link_to 'Edit', edit_taxi_path(@taxi) %> |
  <%= link_to 'Back', taxis_path %>
<%end%>
