<%= form_for(static_page) do |f| %>
  <% if static_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(static_page.errors.count, "error") %> prohibited this static_page from being saved:</h2>

      <ul>
      <% static_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :home %>
    <%= f.text_field :home %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
