<div class="header-title white ken-burn" data-parallax="scroll" >
  <div class="container">
    <div class="title-base">
      <h1> Επικοινωνία </h1>
    </div>
  </div>
</div>

<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="title-base text-left">
          <hr class="anima">
          <h4> Contact </h4>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Επικοινωνια</h4>
      </div>
    </div><!-- row-->
  </div>
</div>
<div class="section-empty">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h5>Τηλέφωνο Επικοινωνίας </h5>
          <p>+30 210 4224 752</p>
        </div>
      <div class="col-md-4">
        <h5>Διέυθυνση</h5>
        <p>Αγ. Κωνσταντίνου 11, Πειραιάς (Δημοτικό Θέατρο), ΤΚ 18532</p>
      </div>
      <div class="col-md-4">
        <h5>Email</h5>
        <p>orosimop@otenet.gr</p>
      </div>
    </div>
  </div><!--container -->
</div><!--section-empty -->

