  <div class="section-slider home-slider" data-sib-height="180">
    <div class="flexslider advanced-slider slider" data-options="animation:fade,controlNav:false">
      <ul class="slides">
        <li data-slider-anima="fade-bottom" data-timeline="asc" data-time="2000">
          <div class="section-slide">
            <div class="bg-cover"><%=image_tag 'header2.jpg'%></div>
            <div class="container">
              <div class="container-middle">
                <div class="container-inner">
                  <div class="home-slider-box anima">
                    <h3 class="text-black">Εταιρική</h3>
                    <h1 class="text-black">κοινωνική ευθύνη</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li data-slider-anima="fade-bottom" data-timeline="asc" data-time="2000">
          <div class="section-slide">
            <div class="bg-cover"><%=image_tag 'header1.jpg'%></div>
            <div class="container">
              <div class="container-middle">
                <div class="container-inner">
                  <div class="home-slider-box anima">
                    <p class="slider-header">Φροντιστήριο </p>
                    <h1 class="slider-header">Ορόσημο Πειραιά</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li data-slider-anima="fade-bottom" data-timeline="asc" data-time="2000">
          <div class="section-slide">
            <div class="bg-cover"><%=image_tag 'header3.jpg'%></div>
            <div class="container">
              <div class="container-middle">
                <div class="container-inner">
                  <div class="home-slider-box anima">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul> <!--ul tou flexbox -->
     </div><!-- slider section div -->
    </div><!-- slider section div -->

<div class="section-empty">
  <div class="container content">
    <div class="row">
      
        <div class="col-md-2">
          <div class="title-base text-right">
          <hr class="anima">
          <h2> Φροντιστηρια Οροσημο-Πειραια </h2>
          </div>
        </div>
        
        <div class="col-md-4">
          <p class="text-m text-bold">
            Προσφορά των φροντιστηρίων ορόσημο, με τη βοήθεια των Τ.Π.Ε στην εκπαίδευση.
          </p>
          <hr class="space s">
          <%= link_to " Επισκεφτείτε το orosimo-peiraia.gr", 'http://orosimo-peiraia.gr', class:"fa fa-circle"%>
      </div>
      
      <div class="col-md-6">
        <p class="text-m">
          Το ορόσημο κοινωνικό, είναι μια ιστοσελίδα δωρεάν χρήσης γι' αυτούς που δεν μπορούν, λόγω απόστασης, οικονομικών ή κοινωνικών συνθηκών. Απευθύνεται καταρχήν: Μαθητές Α γυμνασίου,Β γυμνασίου,Γ γυμνασίου και παρέχει πολλές πληροφορίες στους μαθητές λυκείου. Θα βρείτε εκτενείς παρουσιάσεις επαγγελματικού προσανατολισμού.
        </p>
      </div>
    </div><!--row div -->
  </div><!-- container div-->
</div><!--section under flexslider div -->

<div class="section-bg-color">
  <div class="container content">
    <div class="row">
      <div class="col-md-4">
        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
          <i class="fa fa-terminal icon circle anima"></i>
          <h3>Νέες τεχνολογίες την εκπαίδευση</h3>
          <p>
            Στο ορόσημο πιστεύουμε στη δημιουργεία ενός καλύτερου μέλλοντος με τη μετατροπή της εκπαίδευσης. Θέλουμε να φέρουμε σε επαφή νέες ιδέες,πρακτικές και τεχνολογίες έτσι ώστε οι εκπαιδευτικοί και οι μαθητές να μπορούν να χρησιμοποιήσουν και να αξιοποιήσουν προς όφελος της νέες δυνατότητες, που δημιουργούνται.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
          <i class="fa fa-terminal icon circle anima"></i>
          <h3>Βιντεομαθήματα δωρεάν στο γυμνάσιο</h3>
          <p>
            Υπάρχουν δεκάδες βιντεομαθήματα, που μπορείτε να παρακολουθήσετε δωρεάν στημένα πάνω στα βιβλία του ορόσημο, τα οποία μπορούν να σας βοηθήσουνε να κατανοήσετε έννοιες και να λύσετε άμεσα απορίες, που μπορεί να σας έχει δημιουργήσει κάποιο μάθημα. Παρακάτω, μπορείτε να δείτε να βίντεο ανα μάθημα και τάξη
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
          <i class="fa fa-terminal icon circle anima"></i>
          <h3>Χρησιμοποιήστε τη ιστοσελίδα, μόνο με αποστολή του mail σας</h3>
          <p>
            Στην επιλογή του μενού videos, θα βρείτε βίντεο γα κάθε τάξη. Τα πρώτα είναι προσβάσημα δωρεάν, ενώ για τα υπόλοιπα θα πρέπει να δημιουργηθεί λογαριασμός στη σελίδα. Θα σας αποσταλεί mail στη διεύθυνση που έχετε δηλώσει και σε συνέχεια θα πρέπει να επικοινωνήσετε με το φροντιστήριο προκειμένου να σας ενεργοποιήσει το λογαριασμό. Τα στοιχεία επικοινωνίας με το ορόσημο θα τα βρείτε στην επιλογή του μενού contact.
             
          </p>
        </div>
      </div>
    </div><!--row -->
  </div><!--container -->
</div><!--section -->
