<div class="section-empty text-center">
  <div class="container content">
    <h3 class="text-center">Αποστολή του mail επιβεβαίωσης</h3>
    <hr class="space m"/>
    <div class="row">
      <div class="col-md-12">

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Στείλτε ξανά το mail επιβεβαίωσης λογαριασμού" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
