<%= render 'users/titleheader' %>

<div class="section-empty">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
    <%= render 'users/sidemenu'%>
      </div>
      <div class="col-md-8">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
  
          <div class="row">
            <div class="col-xs-12">
              <%=f.label :email %>
              <%= f.email_field :email, class:'form-control form-value' %>
            </div>
          </div>
  
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <br>
        
          <div class="row">
            <div class="col-xs-6">
              <%= f.label :onoma, "Όνομα" %>
              <%= f.text_field :onoma , class:'form-control form-value'%>
            </div>

            <div class="col-xs-6">
              <%= f.label :eponimo,"Επίθετο" %>
              <%= f.text_field :eponimo , class:'form-control form-value'%>
            </div>
          </div>

          </br>
          <div class="row">
            <div class="col-xs-6">
            <%= f.label :password , "Νέος κωδικός"%> <i>Αφήστε κενό σε περίπτωση που δεν θέλετε αλλαγή του κωδικού</i><br />
            <%= f.password_field :password, autocomplete: "off", class:'form-control form-value' %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            </div>
            <br>

            <div class="col-xs-6">
            <%= f.label :password_confirmation, "Επιβεβαίωση νέου κωδικού" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control form-value' %>
            </div>

          </div>
          <br>
          
            <%= f.label :current_password, "Τωρινός Κωδικός" %> <i>Δώστε το κωδικό σας για να εγκριθούν οι αλλαγές</i><br />
            <%= f.password_field :current_password, autocomplete: "off" , class:'form-control form-value'%>
      
            <hr class="space s" />
            <%= f.submit "Update", class:'btn btn-sm btn-default'%>
        <% end %>
        
            <hr class="space s" />
        
        <div class="section-empty text-center">
            <h3>Διαγραφή λογαριασμού</h3>
        
            <p>Μετά τη διαγραφή λογαριασμού δεν υπάρχει τρόπος ανάκτησης του λογαριασμού.</p><p><%= button_to "Διαγραφη λογαριασμου", registration_path(resource_name), data: { confirm: "Επιβεβαιώστε τη διαγαφή του λογαριασμού" }, method: :delete, class:'btn btn-sm btn-default'%></p>
    
            <%= link_to "Πίσω στο προφίλ", user_path(@user), class:'btn btn-sm btn-default' %>
        </div>
        <hr class="space s">
        <div class="section-empty text-center">
          <%= render 'users/searchresults' %>
        </div>
      </div>
    </div>
  </div>
</div>
