<div class="section-empty text-center">
  <div class="container content">
    <h3 class="text-center">Φόρμα εγγραφής</h3>
    <hr class="space m"/>
    <div class="row">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="field">
          <p><%= f.label :email %></p>
          <%= f.email_field :email, autofocus: true %>
        </div>

  <div class="field">
    <br><%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <p> <%= f.label :password_confirmation %></p>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <p><%= f.label :onoma %></p>
    <%= f.text_field :onoma %>
  </div>

  <div class="field">
    <p><%= f.label :eponimo %></p>
    <%= f.text_field :eponimo %>
  </div>
  
  <!--
  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select(:roles, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>
  <div class="actions">
-->
    <hr class="space m"/>
<p> <%= f.submit "Εγγραφή" %></p>
  </div>
</div>

<% end %>

<%= render "users/shared/links" %>
      </div>
    </div>
