<h3> Αποτελέσματα Αναζήτησης Χρηστών: </h3>
<% if @results != nil %>
  <table id="grid-basic" class="table table-condensed table-hover table-striped bootgrid-table">
    <thead>
      <tr>
        <th data-column-id="onoma">
          <a class="column-header-anchor sortable">
            <span class="text">Όνομα</span>
          </a>
        </th>
        <th data-column-id="eponimo">
          <a class="column-header-anchor sortable">
            <span class="text">Επίθετο</span>
          </a>
        </th>
        <th data-column-id="email">
          <a class="column-header-anchor sortable">
            <span class="text">Email</span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr data-row-id="0">
          <td><%= link_to "#{result.onoma}", user_path(result) %></td>
          <td><%= result.eponimo %></td>
          <td><%= result.email %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
<%else%>
  <h4> Δεν υπάρχουν αποτελέσματα αναζήτης </h4>
<%end%>
