<div class="top-area">
<% if current_user.admin? || current_user.teacher? %>
<%= form_for search_users_path, :method=>'get', class: 'navbar-form' do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search],class: 'form-control', placeholder: 'Search Users' %>
    <div class="input-group-btn">
      <%= submit_tag "Search",:name=>nil,class: 'btn'%>
    </div>
  </div>
<%end%>
<%end%>
</div>
<br>
<aside class="sidebar mi-menu box-middle-container">
  <nav class="sidebar-nav box-middle">
    <ul class="side-menu ms-simple">
      <li>
        <%= link_to user_path(current_user) do %>
          <i class='fa fa-home'></i>Προβολη στοιχειων προφιλ <%= current_user.eponimo %>
        <%end%>
      </li>
      <li>
        <%= link_to edit_user_registration_path do %>
          <i class='fa fa-pencil' aria-hidden="true"></i>Αλλαγη στοιχειων
        <%end%>
      </li>
      <li>
        <% if params[:action] == "index"%>
          <%= link_to profile_index_user_questions_path(current_user) do %>
            <i class='fa fa-question' aria-hidden="true"></i>Προβολη των ερωτησεων του/της <%= current_user.eponimo%>
          <%end%>
        <%else%>
          <%= link_to profile_index_user_questions_path(@user) do %>
            <i class='fa fa-question' aria-hidden="true"></i>Προβολη των ερωτησεων του/της <%= @user.eponimo%>
          <%end%>
      <%end%>
      </li>
      <li>
        <% if current_user.admin?%>
          <%= link_to users_path do %>
            <i class='fa fa-check'></i>Ενεργοποιηση χρηστων
          <%end%>
        <%end%>
      </li>
    </ul>
  </nav>
</aside>
