<div class="header-title white ken-burn" data-parallax="scroll" >
  <div class="container">
    <div class="title-base">
      <h1>προφιλ χρηστη</h1>
    </div>
  </div>
</div>

<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="title-base text-left">
          <hr class="anima">
          <h4><%= current_user.onoma %><br><%= current_user.eponimo %>  </h4>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-sm nav-justified" href="#">Ρυθμιστε το προφιλ σας και δειτε τις ερωτησεις-απαντησεις σας, στα βιντεο</a>
      </div>
    </div><!-- row-->
  </div>
</div>
