<div class="row">
  <div class="col-xs-6">
    <h4> Όνομα Χρήστη </h4>
    <p><%= @user.onoma %></p>
  </div>
  <div class="col-xs-6">
    <h4> Επίθετο Χρήστη </h4>
    <p><%= @user.eponimo%></p>
  </div>
</div>
