<%= render 'titleheader' %>

<div class="section-empty">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'sidemenu' %>
      </div>
      <div class="col-md-4">
        <table class="table table-striped" id="manage-users">
          <thead>
            <tr>
              <th>Email</th>
              <th>Status</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <%- @users.each do |user| %>
              <tr id="user-<%= user.id %>">
                <td>
                  <%= user.email %>
                </td>
                <td class="status">
                  <%#= user.approved ? "Approved" : check_box_tag('approved', true, false) %>
                  <%= user.approved ? (link_to "Εχει ενεργοποιηθεί, πατήστε για απενεργοποίηση", enable_users_user_path(user),method: :patch, class: "btn btn-default btn-danger") : (link_to '#', enable_users_user_path(user), method: :patch , class: "btn btn-default btn-info") %>
                </td>
                <td>
                  <%= user.admin? ? (link_to "Ο χρήστης είναι διαχειριστης, πατήστε για αλλαγή", change_user_role_user_path(user), method: :patch, class: "btn btn-default") : (link_to "Πατήστε για να γίνει διαχειριστής αυτός ο χρήστης", change_user_role_user_path(user), method: :patch, class: "btn btn-default")%>
                </td>
                <td>
                  <%= user.teacher? ? (link_to "Ο χρήστης είναι καθηγητής, πατήστε για αλλαγή σε απλό χηστη", promote_to_teacher_user_path(user), method: :patch, class: "btn btn-default") : (link_to "Πατήστε για να γίνει καθηγητής αυτός ο χρήστης", promote_to_teacher_user_path(user), method: :patch, class: "btn btn-default") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
