<%= render 'titleheader' %>

<div class="section-empty">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'sidemenu' %>
      </div>
      <div class="col-md-8">
        <%= render 'userinfo'%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <%= render partial: 'searchresults' %>
      </div>
    </div>
  </div>
</div>
