<div class="section-empty text-center">
  <div class="container content">
    <h3 class="text-center">Ξεχάσατε τον κωδικό σας?</h3>
    <hr class="space m"/>
    <div class="row">
      <div class="col-md-12">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Αποστολή mail με οδηγίες για την αλλαγή του κωδικού σας" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
