<%= form_for(question_comment) do |f| %>
  <% if question_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_comment.errors.count, "error") %> prohibited this question_comment from being saved:</h2>

      <ul>
      <% question_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :answer_id, :value => locals[:answer_id], class: 'form-control form-value' %>

  <div class="field">
    <%= f.label :body, "Σχολιάστε την απάντηση"%>
    <%= f.text_field :body, class: 'form-control form-value' %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
