<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_comment.question_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question_comment.body %>
</p>

<%= link_to 'Edit', edit_question_comment_path(@question_comment) %> |
<%= link_to 'Back', question_comments_path %>
