<%= form_for(suggested_post) do |f| %>
  <% if suggested_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suggested_post.errors.count, "error") %> prohibited this suggested_post from being saved:</h2>

      <ul>
      <% suggested_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="field">
        <%= f.label :body %> 
        <%= f.cktext_area :body %> 
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :mathima_id %> 
        <%= f.collection_select :mathima_id, @mathimas, :id, :mathima, {include_hidden: false}, {class: 'form-control form-value'} %> 
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
