<div class="tab-box">
  <ul class="nav nav-tabs">
    <% @suggested_posts.each do |suggested_post| %>
      <li><a href="#<%= suggested_post.id %>"><%= suggested_post.mathima.mathima %></a></li>
    <% end %>
  </ul>

  <% @suggested_posts.each do |suggested_post| %>
    <div id="<%=suggested_post.id%>" class="panel">
      <%=sanitize suggested_post.body %>
      <% if user_signed_in? %>
        <%= link_to 'Show', suggested_post %></td>
        <%= link_to 'Edit', edit_suggested_post_path(suggested_post) %></td>
        <%= link_to 'Destroy', suggested_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Suggested Post', new_suggested_post_path %>
  <% end %>
</div>
