<div class="header-title white ken-burn" data-parallax="scroll" >
  <div class="container">
    <div class="title-base">
      <h1>Προτεινομενα Θεματα</h1>
    </div>
  </div>
</div>

<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="title-base text-left">
          <hr class="anima">
          <h4> Θέματα και Απαντήσεις </h4>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-sm nav-justified" href="#">Παρακατω θα βρειτε ολα τα προτεινομενα θεματα και τις απαντησεις  σε μορφη PDF </a>
      </div>
    </div><!-- row-->
  </div>
</div>
