<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%=sanitize @suggested_post.body %>
</p>

<p>
  <strong>Mathima:</strong>
  <%=@suggested_post.mathima_id %>
</p>

<%= link_to 'Edit', edit_suggested_post_path(@suggested_post) %> |
<%= link_to 'Back', suggested_posts_path %>
