<%= form_for([current_user,answer], validate: true) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-xs-6">
    <%= f.label :body,"Γράψτε την απάντηση σας" %>
    <%= f.cktext_area :body, :class=>'ckeditor',ckeditor: {toolbar: 'mini'}, id: locals[:question_id]%>
  </div>
</div>

  <%=f.hidden_field :question_id, value: locals[:question_id] %>

  <br>
  <div class="row">
    <div class="col-xs-6">
      <%= f.submit "Υποβολή", class: 'btn btn-sm' %>
    </div>
  </div>
<% end %>
