<%= render 'users/titleheader' %>

<div class="section-empty">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render 'users/sidemenu'%>
      </div>
      <div class="col-md-8">
<p id="notice"><%= notice %></p>

<h1>Answers</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.body %></td>
        <td><%= answer.question_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>
