<div class="section-empty text-center">
  <div class="container content">
    <h3 class="text-center">Είσοδος χρήστη</h3>
    <hr class="space m"/>
    <div class="row">
      <div class="col-md-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <p>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
          </p>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Είσοδος" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


