<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Mathima</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mathimas.each do |mathima| %>
      <tr>
        <td><%= mathima.mathima %></td>
        <td><%= link_to 'Show', mathima %></td>
        <td><%= link_to 'Edit', edit_mathima_path(mathima) %></td>
        <td><%= link_to 'Destroy', mathima, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mathima', new_mathima_path %>
