<div class="header-title white ken-burn" data-parallax="scroll" >
  <div class="container">
    <div class="title-base">
      <h1>Βιντεομαθηματα</h1>
    </div>
  </div>
</div>

<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="title-base text-left">
          <hr class="anima">
          <h4> Videos </h4>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-sm nav-justified" href="#">Μπορειτε να βρειτε τα υπολοιπα βιντεο κανοντας εγγραφη μονο με το email σας.</a>
      </div>
    </div><!-- row-->
  </div>
</div>

<div class="section-empty">
  <div class"container content">
    <div class="row">
      <div class="col-md-8 col-center">
        <h3>Mάθημα <%= @mathima.mathima %></h3>
      </div>
    </div>
    <% @video_galleries.where(:mathima_id=>@mathima.id).each do |video_gallery| %>
    <div class="row">
      <div class="col-md-4">
        <%= link_to "https://youtube.com/watch?v=#{video_gallery.body}", class: ' lightbox thumbnail data-lightbox-anima="fade-top"' do%>
          <%= image_tag "https://img.youtube.com/vi/#{video_gallery.body}/0.jpg"%>
        <%end%>
      </div>
      <div class="col-md-8">
        <h2><%= video_gallery.title %></h2>
      </div>
    </div>
    <%end%>
  </div>
</div>

