<div class="header-title white ken-burn" data-parallax="scroll" >
  <div class="container">
    <div class="title-base">
      <h1> Δωρεαν Βιντεο</h1>
      <p> Keimeno </p>
    </div>
  </div>
</div>

<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="title-base text-left">
          <hr class="anima">
          <h4> Βιντεομαθήματα </h4>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="section-empty">
  <div class="container">
    <h4 class="text-center">Μαθηματα</h4>
    <hr class="space m">
    <div class="tab-box">
      <ul class="nav nav-tabs">
        <% @mathimas.each do |mathima|%>
          <li><a href="#<%=mathima.id%>"><%=mathima.mathima%></a></li>
        <%end%>
       </ul>
      <% @mathimas.each do |mathima|%>
        <div class="panel" id="<%=mathima.id%>">
          <div class="row">
            <div class="col-md-5 sortable">
              <% mathima.video_galleries.order('priority asc').each do |v|%>
                <div class="panel-sortable" data-id="<%= v.id%>">
                  <span class="my-handle">::</span> <%=v.title%>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div><!--container -->
</div><!--section-empty -->

<%= link_to 'New Video Gallery', new_video_gallery_path %>
