<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @video_gallery.body %>
  <%= @video_gallery.mathima.mathima %>
</p>

<%= link_to 'Edit', edit_video_gallery_path(@video_gallery) %> |
<%= link_to 'Back', video_galleries_path %>
