.sortable-placeholder {
  background: #f9f9f9;
  position:relative;
}

.sortable-placeholder:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-color: #FFF;
}

.sortable{
  list-style:none;
  margin: 0;
  padding:0;
  width: 300px;
}

.panel-sortable{
  padding:15px;
  background-color:#2F2F2F;
  margin: 0 0 15px;
  text-align: center;
  color: #FFF;
  border: 2px solid #444;
}

.my-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}
