<p>Καλησπέρα σας, <%= @email %>!</p>

<p>Για να ολοκληρωθεί η εγγραφή σας, θα πρέπει να επιβεβαιώσετε πως το mail σας ανήκει πατώντας στον σύνδεσμο στο τέλος του mail.Η είσοδος στο λογαριασμό σας θα ολοκληρωθεί όταν σε επόμενο στάδιο ο διαχειριτής του www.koinoniko.orosimo-peiraia.gr, εγκρίνει το λογαριασμό σας.

<p>Μπορείτε να επιβεβαιώσετε τον λογαριασμό σας, στο παρακάτω σύνδεσμο </p>
<p><%= link_to 'Ενεργοποίηση λογαριασμού', confirmation_url(@resource, confirmation_token: @token) %></p>
