<p>Καλησπέρα σας,</p>


<p>Κάποιος έχει αιτηθεί την αλλαγή κωδικού για το λογαριασμό σας.Πατήστε στον παρακάτω σύνδεσμο για να γίνει η αλλαγή.</p>

<p><%= link_to 'Αλλαγή κωδικού', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Σε περίπτωση που δεν ζητήσατε εσείς την αλλαγή του κωδικού σας, παρακαλώ αγνοήστε αυτό το mail.</p>
<p>Ο κωδικός σας δεν θα αλλάξει μέχρι να πατήσετε τον παραπάνω σύνδεσμο  και έπειτα συμπληρώστε τη φόρμα αλλαγής.</p>

