/*
===================
SKIN: MINIMAL
-------------------
SKIN COLORS
===================
*/

/*
This css file contain the Minimal design styles.
CHANGE COLOR: The first part of this file contain all colors of this template, replace all blue colors with your new color.
*/


@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

footer .social-group i, .dropdown-menu > li > a:before, .navbar-nav > li.dropdown > a:after, .fa-li, i.icon, .counter-inverse .icon-box-cell p, .comment-list .name span, a.collapse-button:hover,
.list-items .list-item span, .timeline > li > .timeline-label p, .btn:hover i, .progress-circle .inner-circle .main, .bootgrid-table a.btn, .mega-menu .fa-ul .fa-li, li.panel-item .fa-li,
.fullpage-menu li.active i, .fullpage-menu li.active span, .fullpage-menu li:hover i, .fullpage-menu li:hover span, .icon-list .list-item i, .side-menu > li.active > a > i {
    color: #56bdbd;
}

.adv-img-classic-box .caption-inner p.sub-text, .nav-tabs > li:hover > a, .nav-tabs > li:hover > a i, .nav-tabs > li.active > a, .nav-tabs > li.active > a i, .list-group-item:not(.active):hover, .icon-menu .navbar-collapse ul.nav > li > a:hover i, header .btn-search:hover, .nav.ms-minimal > li.active > a, .icon-background.boxed-inverse:not(.bg-color) .i-background, .icon-box-cell > i, .advs-box.boxed a.btn, .advs-box.boxed a i, .dropdown.btn-group .active > a, .bootgrid-header .dropdown-item:hover, .navbar-default .navbar-nav > li > a:hover, .white .box-side-icon-small .icon-box i, .side-menu .active > a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .advs-box-top-icon .icon, .advs-box-top-icon.boxed .btn, .adv-img-full-content i.main-icon, .advs-box-multiple.boxed div i, .advs-box-top-icon.boxed .circle-button, div.call-action-box a, div.call-action-box a.btn, .text-color, .boxed .circle-button:hover i, .boxed .circle-button, .tag-row i, .btn-text:hover, .btn-text:hover i, .pagination > .active > a, .pagination > li > a:hover, .datepicker-panel > ul > li:hover, .adv-img-button-content .caption i, .social-line .social-group i.fa-circle:hover, a.fa-circle:hover{
    color: #56bdbd !important;
}

[class*="col-md-"].boxed, .bg-color, .fa-angle-up.scroll-top, .niche-box-post.boxed .block-infos, .call-action-box, .white .img-box.adv-img-half-content .caption, .header-bootstrap, {
    background-color: #56bdbd !important;
}

i.circle, i.square, .social-group i.circle, .social-button i.circle, .header-base:not(.bg-cover), .timeline > li:hover > .timeline-badge, ul.side-menu li.active:before, #twosides-menu, .subline-bar,
.accordion-list .list-group-item:before, .section-bg-color .table > tbody > tr, .advs-box-multiple div.circle, .advs-box.boxed .advs-box-content, .advs-box.boxed, .box-social-page, .advs-box-top-icon-img .icon {
    background-color: #56bdbd;
}

    .section-bg-color .table > tbody > tr:hover, .section-bg-color .table-striped > tbody > tr:nth-of-type(odd), .popup-banner.full-width-top, .popup-banner.full-width-bottom, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #51afaf !important;
    }

.btn:hover, div.adv-img-side-content .btn:hover, div.adv-img-side-content .btn:hover i, .extra-content, .load-more-maso:hover, .nav.inner.ms-rounded li a:hover,
.nav.inner.ms-rounded li.active a, .datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
    border-color: #56bdbd !important;
    color: #56bdbd !important;
}

.navbar-nav > li > .dropdown-menu, .tab-box > .panel, .tab-box > .panel-box > .panel, .niche-box-team .content-box hr, hr.e, .datepicker-top-left, .datepicker-top-right {
    border-top-color: #56bdbd !important;
}

.tab-box.right .panel-box {
    border-right-color: #56bdbd !important;
}

.tab-box.left .nav-tabs, .mi-menu .sidebar-nav, .tab-box.left .panel-box {
    border-left-color: #56bdbd !important;
}

.accordion-list .list-group-item:hover, .list-items .list-item:hover, .mega-menu .nav-tabs li.active, .title-modern h2, .tab-box.inverse .panel {
    border-bottom-color: #56bdbd !important;
}

.section-bg-color .table > tbody > tr > td, .social-button i.circle {
    border-color: #51afaf !important;
}

.white .quote-author, .white .icon-list .list-item i {
    color: #d5f5f5;
}

.white .pagination > li > a:hover, .white .pagination > .active > a, .white .btn:hover, .white .btn:hover i, .advs-box.boxed a.btn:hover, .white.advs-box-blog .tag-row i, .subline-bar ul li a:hover,
.white.advs-box-blog .tag-row span:after, .white.niche-box-post .tag-row i, .white.niche-box-post .tag-row span:after, header.bg-transparent .navbar-default .navbar-nav > li.active > a,
div.adv-img-side-content p {
    color: #d5f5f5 !important;
}

.white .btn:hover, .niche-box-post.boxed .block-infos {
    border-color: #d5f5f5 !important;
}

.white .load-more-maso:hover {
    color: #d5f5f5 !important;
    border-color: #d5f5f5 !important;
}

.header-slider .flex-control-paging li a.flex-active, .header-slider .flex-control-paging li a:hover {
    background-color: #d5f5f5 !important;
}


@media (max-width: 992px) {
    header.bg-transparent .navbar-default .navbar-nav > li.active > a {
        color: #51afaf !important;
    }
}


/*
-------------
FIXED COLORS
-------------
*/
h1, h2, h3, h4, h5, .quote-author, h1 a, h2 a, h3 a, h4 a, h5 a, .pagination > li.disabled > a, .pagination > li > a, .album-title > span {
    color: #272b2b;
    font-weight: 600;
}

.slider-header{
    color: #c0c0c0;
    font-weight: 600;
  }
.section-bg-color .block-quote:before, .section-bg-color .block-quote:after {
    color: rgba(213, 214, 214, 0.6);
}

[class*="col-md-"].boxed-inverse, .boxed-inverse, .section-bg-color, .section-two-blocks > .row > div:last-child, .full-screen-page, .form-control, .pricing-table .list-group-item, .pricing-table,
footer.footer-center .content, .base-box.boxed-inverse, .advs-box.boxed-inverse, .table-striped > tbody > tr:nth-of-type(odd), .section-bg-color .adv-img-down-text h2 a {
    background-color: #f6f9f8;
}
.border-table td, .white .form-control {
    border-color: #e8e8e8 !important;
}
.header-base {
    border-bottom: none;
}

header .fa-ul > li {
    margin: 3px 0;
}

.title-base hr {
    background-color: black;
}

div.adv-img p, .caption-bottom p {
    color: #676a6b;
}

.section-bg-color .boxed-inverse, .section-bg-color .pricing-table {
    border: 1px solid #eef1f5;
    border-style: solid !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-nav li:hover, .navbar-main, .nav.inner,
.bootgrid-table th:hover, .bootgrid-table th:active, .social-line .social-group i.circle {
    background-color: rgba(255, 255, 255, 0.00) !important;
}

.pricing-table .list-group-item:nth-child(even), .pricing-table .pricing-name, .adv-img .white.circle-button:hover, .adv-img .white .circle-button:hover, .btn-default:hover, .circle-button:hover, .list-items .list-item:hover, header:not(.side-menu-lateral) .side-menu ul ul {
    background: none !important;
}

.advs-box.boxed .circle, .section-bg-color .pricing-table .list-group-item, .section-bg-color .pricing-table, .pricing-table a:hover, .nav-inner .flex-control-paging li a, .navbar-mini, .side-menu ul,
.section-bg-color .niche-box-testimonails-cloud p, .footer-white .content, .mega-tabs .nav-tabs, .section-bg-color .img-box.thumbnail, .white .title-base h2:before, .white .title-base h4:before,
.header-slider .flex-control-paging li a, .white.title-base h2:before, .white .title-base h2:before {
    background-color: #FFF !important;
}

header.bg-transparent .navbar-default .navbar-nav > li > a, header.bg-transparent .fa, .white .icon-box label, .white .icon-box-cell > i, .white a:hover, .advs-box.boxed a.btn, .popup-close, .header-bootstrap i,
.white .pagination > li.disabled > a, .white .title-base h1, .box-social-page .icon-box-cell > i, .box-social-page .icon-box-cell label, .mega-tabs .nav-tabs, .popup-banner.full-width-top, .popup-banner.full-width-bottom,
.advs-box-top-icon.boxed .icon, .white.pagination > .disabled > a, .white .pagination > .disabled > a, .white.advs-box-blog a, .white.niche-box-post a, .call-action-box p, .call-action-box i.action-icon,
.navbar-default .navbar-toggle:hover i, .navbar-default .navbar-toggle:focus i {
    color: #fff !important;
}

.white .dropdown-menu > li > a:hover, .white .dropdown-menu > li > a:focus, .white a, .white .pagination > li > a, .white .form-control, .boxed i.icon {
    color: #fff;
}

.white .social-group i, .white .load-more-maso, .boxed .extra-content {
    color: #fff !important;
    border-color: #fff !important;
}

.section-bg-color .flex-control-paging li a, .boxed-inverse .flex-control-paging li a {
    background-color: #bcc7c4 !important;
}

    .section-bg-color .flex-control-paging li a.flex-active, .boxed-inverse .flex-control-paging li a.flex-active {
        background-color: #a6b1ae !important;
    }

.navbar-nav.subheader-bootstrap .sub {
    color: #95a2a2;
    font-size: 12px;
    font-weight: 300;
}
/*
-------------
SKIN DESIGN
-------------
*/
body, .adv-img p, .caption-bottom p, .adv-circle .caption p, .advs-box p {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #676a6b;
    font-weight: 300;
}

h2, .h2 {
    font-size: 25px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 35px;
}

h1 {
    line-height: 45px;
}

.advs-box.boxed-inverse:hover, .adv-img-full-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .15);
}

.advs-box.boxed-inverse, .adv-img-full-content {
    transition: all .6s;
}

.title-base.text-right {
    margin-left: auto;
}

.title-base {
    margin-bottom: 15px;
    padding-top: 1px;
    overflow: hidden;
}

[class*="header-"] .title-base {
    margin: 0;
    padding-top: 0;
}

header .navbar-nav > li > a {
    padding: 41px 15px 39px 15px;
    min-height: 65px;
    font-weight: 500;
    font-size: 13px;
}

@media (min-width: 993px) {
    .navbar-header {
        width: 170px;
        min-height: 50px;
    }

    .side-menu-header .navbar-header {
        width: auto;
    }
}

.lan-menu ul li a {
    font-size: 13px;
}

.lan-menu .dropdown-menu {
    max-width: 85px;
}

.mi-menu ul li > a {
    color: #262626;
}

header > .navbar {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mega-menu .fa-ul {
    margin-left: 0px;
}

    .mega-menu .fa-ul > li a {
        font-weight: 400;
        color: #797978;
        transition: all.6s;
    }

.mega-menu h5, .menu-transparent .mega-menu h5 {
    margin-top: 0;
    color: #444;
    font-weight: 600;
}

.mega-menu .fa-ul > li a:hover {
    color: #262626;
    margin-left: 5px;
}

.mega-menu .fa-ul .fa-li {
    font-size: 18px;
}

.mega-menu .col {
    min-width: 280px;
}

@media (min-width:993px) {
    .navbar-brand {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        height: auto;
    }
}



.navbar-social .social-group a {
    margin: 24px 0;
}


.home-slider {
    height: 550px;
}

    .home-slider .container-inner p {
        display: inline-block;
        font-weight: 700;
        color: #c0c0c0;
        padding-top: 10px;
        text-align: right;
    }

.home-slider-box, .home-fullpage .col-md-6 {
    display: inline-block;
    padding: 50px;
    border-left: 2px solid #000;
}

home-slider-box-center {
    text-align: center;
}

.text-xl {
    font-size: 50px !important;
    line-height: 60px;
}

.text-l {
    font-size: 35px !important;
    line-height: 45px !important;
}

    .text-l.circle, .text-l.square {
        line-height: 66px !important;
    }

.text-bold {
    font-weight: 500;
}

.title-base hr {
    height: 2px;
    margin-bottom: 5px !important;
    width: 100%;
    max-width: 150px;
    display: none;
}

.section-two-blocks .content {
    padding: 90px;
}

@media (min-width: 769px) {
    .section-two-blocks.full-width-section.blocks-right .content {
        padding-left: 90px !important;
        padding-right: 90px !important;
    }

    .section-two-blocks.full-width-section .content {
        padding-right: 90px !important;
    }
}

.section-two-blocks > .row > .col-md-6:last-child .content, .section-two-blocks > .row > .col-md-5 .content {
    padding-left: 90px;
}

.title-base.text-left hr, .title-base.text-right hr {
    max-width: 100%;
}

.title-base h2, h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.title-base h2, .title-base h4 {
    display: inline;
    position: relative;
}

    .title-base h2:before, .title-base h4:before {
        content: "";
        height: 2px;
        width: 200%;
        background-color: #56bdbd;
        position: absolute;
        top: 7px;
        right: -215%;
        right: calc(-200% - 15px);
    }

.title-base.text-right h2:before, .title-base.text-right h4:before {
    left: -215%;
    left: calc(-200% - 15px);
    right: auto;
}

.title-base p {
    font-size: 14px;
    margin: 20px 0 0 0;
    font-weight: 400;
}

.container.content, .section-empty > .content, .section-bg-image > .content, .section-bg-video > .content, .section-bg-animation > .content, .section-slider > .content, .section-bg-color > .content {
    padding-top: 90px;
    padding-bottom: 90px;
}

.advs-box .btn, .btn-text, .fa, .fa-circle {
    border-bottom: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #272b2b;
    transition: all .5s;
    position: relative;
    border: none;
    padding: 0;
    margin-right: 45px;
    font-size: 14px;
    line-height: 22px;
}


    .btn-text:after, .advs-box .btn:after {
        content: '\e658';
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        margin: -16px 0px 0px 0;
        text-decoration: none;
        position: absolute;
        font-size: 31px;
        right: -45px;
        z-index: 9;
        top: 50%;
        transition: right .5s;
    }

.advs-box .anima-button.btn {
    overflow: visible;
    padding-left: 65px;
}

    .advs-box .anima-button.btn i {
        margin-left: -35px;
        color: #fff !important;
    }

.btn-text:hover:after, .advs-box .btn:hover:after {
    right: -37px;
}

header .social-group a i.fa {
    padding: 5px;
}

.quote-author {
    font-style: normal;
    font-weight: 700;
}

.advs-box-top-icon {
    margin-top: 0 !important;
}

    .advs-box-top-icon.boxed, .advs-box-top-icon.boxed-inverse, .advs-box-side-icon.boxed-inverse, .advs-box-side-icon.boxed, .advs-box-top-icon-img.boxed-inverse .advs-box-content,
    .advs-box-top-icon-img.boxed .advs-box-content, .advs-box-side-img.advs-box-blog .col-md-8 {
        padding: 70px 50px !important;
    }

.advs-box-side.boxed, .advs-box-side.boxed-inverse, .advs-box-multiple .advs-box-content {
    padding: 50px 50px !important;
}

.advs-box-top-icon .icon {
    position: static !important;
    margin: 0 auto;
    box-shadow: none !important;
    padding: 0 !important;
    background: none;
}

.advs-box.boxed.advs-box-top-icon .circle.icon {
    background: none !important;
    color: #fff !important;
}

.advs-box-top-icon.niche-box-testimonails {
    padding: 0 15px !important;
}

.advs-box h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0;
    font-weight: 600;
}

.advs-box-top-icon a {
    margin-top: 20px;
}

.advs-box .img-box:before {
    display: none;
}


.navbar-inner .nav:not(.ms-rounded) li a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 14px;
    opacity: .4;
    padding: 15px 0;
    margin: 0 10px;
    background: none;
    transition: all .6s;
}

.navbar-inner .nav:not(.ms-rounded) li.active a, .navbar-inner .nav:not(.ms-rounded) li:hover a {
    opacity: 1;
}

    .navbar-inner .nav:not(.ms-rounded) li.active a:before, .navbar-inner .nav:not(.ms-rounded) li:hover a:before {
        width: 100%;
    }

.navbar-inner .nav:not(.ms-rounded) li a:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 1px;
    background: #272b2b;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
}

.navbar-inner .nav:not(.ms-rounded) li {
    background: none !important;
}

.maso-filters.nav.inner {
    margin: 0 -10px 15px -10px;
}

.nav.ms-minimal > li > a {
    border: none;
}

    .nav.ms-minimal > li > a:before {
        display: none;
    }

.btn, .load-more-maso.circle-button, .load-more-grid.circle-button, .circle-button {
    background: none;
    border: 1px solid #5a5a5a;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #272b2b;
    padding: 9px 35px 6px 35px;
    transition: all .6s;
}

.circle-button {
    border-radius: 20px !important;
}

.advs-box a.circle-button {
    border-radius: 0 !important;
}

.btn i {
    color: #272b2b;
    transition: all .6s;
}

.btn:not(.anima-button) i {
    line-height: 0 !important;
}

.btn-sm, .btn-group-sm > .btn {
    line-height: 19px;
}

.btn-xs i {
    font-size: 16px;
}

.btn-sm i {
    font-size: 19px;
    margin-top: -9px;
}

.btn-xs:not(.anima-button) i {
    transform: translateY(3px);
    display: inline-block;
}

.btn-sm:not(.anima-button) i {
    transform: translateY(3px);
    display: inline-block;
}

.anima-button.circle-button:hover {
    padding-left: 65px;
    transition: padding-left .6s;
}

    .anima-button.btn:hover i, .anima-button.circle-button:hover i {
        margin-left: -30px;
    }

.anima-button:hover {
    padding-left: 65px;
}

.adv-img-full-content .caption-bg {
    background-color: rgba(255, 255, 255, 0.9);
}

.adv-img-full-content h2 {
    /* text-transform: none; */
    margin: 0;
    font-weight: 900;
    font-size: 16px;
}

.adv-img-full-content p.sub {
    font-size: 13px;
    font-weight: 400;
    background: none;
    color: #676a6b;
    text-transform: none;
    margin-top: 3px;
}

.pricing-table .list-group-item, .pricing-table {
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

    .pricing-table .list-group-item {
        padding: 5px 0;
    }

        .pricing-table .list-group-item.pricing-name {
            padding: 35px 0;
        }

.pricing-table {
    padding: 50px 25px;
    border-radius: 0;
}

    .pricing-table .pricing-price {
        color: #272b2b;
        font-size: 60px;
        font-weight: bold;
    }

        .pricing-table .pricing-price span {
            font-size: 28px;
            font-weight: normal;
            vertical-align: super;
            color: #3f444a;
        }

    .pricing-table h3 {
        padding: 5px 10px;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
    }

.pricing-table-big {
    box-shadow: none !important;
}

.pricing-table a {
    background-color: #FFF;
    color: #272b2b;
    border: 1px solid #272b2b !important;
    margin-top: 25px;
}

.icon-box label {
    font-weight: 600;
    color: #000;
}

.icon-box-cell p {
    font-weight: 400;
    margin: 1px;
}

.niche-box-post h2 {
    margin-top: 15px;
}

    .niche-box-post h2 a, .niche-box-blog h2 a, .advs-box-side-img.advs-box-blog h2 a {
        text-transform: none;
        font-weight: 700;
        color: #272b2b;
        font-size: 30px;
        line-height: 21px;
    }

.carousel .niche-box-post h2 a {
    font-size: 20px;
}

.carousel .niche-box-post .block-infos {
    bottom: 68px;
}

.tag-row a {
    color: #4a5050;
    font-weight: 500;
}

.tag-row i {
    font-weight: 600;
}

.tag-row span {
    border-right: none;
}

.advs-box-top-icon-img .block-data {
    border: none;
    background: none;
}

.block-infos p.bd-day {
    padding: 18px 0 5px 0;
    font-weight: 700;
    line-height: 63px;
    font-size: 75px;
    color: #272b2b;
    text-align: left;
}

.block-infos .bd-month {
    font-weight: 600;
    color: #272b2b;
    padding-bottom: 15px;
    text-align: left;
    font-size: 12px;
}

.block-infos .block-comment {
    background: none;
    display: none;
}

.advs-box-top-icon-img .advs-box-content {
    padding-left: 135px;
}

.niche-box-post .block-infos {
    margin: 0 30px 0 0;
    bottom: 63px;
    width: 110px;
    padding: 50px 0 0 0;
    text-align: left;
    border-right: 2px solid #272b2b;
    transform: translate3d(0,0,0);
}

.niche-box-post .advs-box-content p {
    min-height: 45px;
}

.flexslider.nav-inner .flex-control-nav {
    bottom: auto;
    top: 20px;
    right: 10px;
    text-align: right;
    text-indent: -9995px;
    overflow: hidden;
}

.flexslider.outer-navs:hover .flex-direction-nav .flex-prev {
    left: 25px;
}

.flexslider.outer-navs:hover .flex-direction-nav .flex-next {
    right: 20px;
}

.flex-control-nav li {
    text-align: center;
}

.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
    background-color: #87d0d0;
}

.flex-control-paging li a {
    width: 7px;
    height: 7px !important;
    line-height: 15px;
}

.slimScrollBar {
    border-radius: 0 !important;
}

.author a {
    color: #272b2b;
}

.social-feed-fb li .meta-header .date {
    font-weight: 400;
    font-size: 12px;
}

.section-bg-color .niche-box-testimonails-cloud p:after {
    border-right-color: #fff;
}

.niche-box-testimonails-cloud .name-box .subtitle {
    line-height: 15px;
}

.icon-box.icon-box-top-bottom {
    margin-top: -10px;
}

.icon-box-top-bottom .icon-box-cell {
    margin: 10px 0;
}

footer .content {
    border-top: 1px solid rgba(226, 226, 226, 0.44) !important;
}

.footer-minimal p, .footer-parallax p, footer .tag-row span {
    font-weight: 500;
    opacity: .5;
}

.img-box.adv-img-side-content .caption {
    width: 100%;
    background: rgba(0, 0, 0, 0.7) !important;
    padding: 50px;
}

.adv-img-side-content h2 {
    color: #FFF;
    font-weight: 900;
}

div.adv-img-side-content p {
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: 400;
}

.adv-img-side-content .btn {
    line-height: 8px;
    padding: 11px 15px 8px 15px;
    color: #bfbfbf !important;
    border-color: #bfbfbf !important;
}

.adv-img-side-content > i {
    margin: 50px 30px;
}

.subtitle-header .lan-menu > li > a {
    padding-top: 50px;
    padding-bottom: 50px;
}

.subtitle-header .lan-menu li a {
    font-size: 13px;
}

header .btn-default, header .btn, header .anima-button.circle-button {
    background: none !important;
    border: none;
    color: #797979 !important;
    font-size: 25px;
}

header .search-box {
    padding: 0;
    border: none;
    box-shadow: 0 9px 20px rgba(0,0,0,0.2);
    margin: 87px 0 0 0 !important;
}

.search-box input {
    margin: 0 0 0 0;
    max-width: 100%;
}

.dropdown-menu > li > a {
    color: #797979;
    transition: all .6s;
}

    .dropdown-menu > li > a:before {
        font-family: 'icomoon';
        position: absolute;
        margin-left: -23px;
        opacity: 0;
        transition: all .6s;
    }

    .dropdown-menu > li > a:hover {
        padding-left: 13px;
    }

        .dropdown-menu > li > a:hover:before {
            opacity: 1;
        }

.navbar-nav > li > .dropdown-menu {
    padding: 30px 10px;
    font-size: 13px;
    border: none;
    border-top-style: solid;
    border-top-width: 2px;
    width: 250px;
}

.navbar-nav > li.dropdown > a:after, .nav-tabs > li > a:after {
    content: '';
    margin-left: 3px;
    vertical-align: middle;
    border-bottom: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0px;
    height: 21px;
    left: 50%;
    width: 10px;
    margin-left: -5px;
    opacity: 0;
}

.navbar-nav > li.dropdown:hover > a:after, .nav-tabs > li.active > a:after {
    opacity: 1;
    transition: opacity .3s;
    transition-delay: .1s;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
}

.navbar-nav > li > a .caret {
    display: none;
}

header.menu-transparent.bg-transparent .navbar, .bg-transparent li.active, .bg-transparent li:hover, .menu-transparent:not(.scroll-css) li.dropdown:hover, .white .circle-button:hover {
    background: none !important;
    box-shadow: none;
}

.fa-ul.text-right {
    margin-right: 3.14285714em;
}

.adv-img-half-content h2 {
    font-weight: 900;
    text-transform: none;
    font-size: 20px;
}

div.adv-img-half-content p.sub {
    margin-top: 0;
    font-weight: 500;
}

div.adv-img-half-content .sub {
    font-size: 12px;
    margin-top: 15px;
    font-weight: 400;
}

.img-box.adv-img-half-content .caption {
    padding: 30px 55px 25px 55px;
    background: #fff !important;
    text-align: right;
    width: 80%;
    left: auto;
    border-left: 1px solid #272b2b;
    transition: all 1s;
}

.adv-img-half-content:hover .caption {
    right: -100%;
}

.box-side-icon-small h3 {
    font-size: 16px;
}


.tab-box.right .nav-tabs > li > a:after {
    left: 0;
    border-right: 6px solid;
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    height: 10px;
    bottom: 20px;
    margin-left: -12px;
}

.tab-box.left .nav-tabs > li > a:after {
    right: 0;
    left: auto;
    border-left: 6px solid;
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    height: 10px;
    top: 50%;
    margin-top: -14px;
    margin-right: -12px;
}

.tab-box.right .panel-box {
    border-right-width: 2px !important;
}

.tab-box.left .panel-box {
    border-left-width: 2px !important;
}

.tab-box.right .nav-tabs, .tab-box.left .nav-tabs {
    border: none !important;
}

.tab-box .nav-tabs li.active {
    background: none;
    bottom: 0 !important;
    margin-right: 0 !important;
}

.nav-tabs > li > a, .nav-tabs {
    border: none !important;
    font-weight: 600;
    padding-top: 0;
}

    .nav-tabs > li > a {
        padding-bottom: 30px;
        text-align: center;
        background: none !important;
        margin-right: 0;
        transition: color .6s;
    }

.tab-box.left .nav-tabs > li > a {
    padding: 0 30px 15px 0;
    text-align: right;
    overflow: visible;
}

.tab-box.right .nav-tabs > li > a {
    padding: 0 0 15px 30px;
    text-align: left;
    margin: 0px;
}

.tab-box > .panel, .tab-box > .panel-box > .panel {
    border: none;
    border-top-width: 2px;
    border-top-style: solid;
    border-radius: 0;
    padding: 30px 0;
}

.tab-box.left > .panel-box > .panel {
    padding: 0 0 0 30px;
    border: none;
}

.tab-box.right > .panel-box > .panel {
    padding: 0 30px 0 0;
    border: none;
}

.nav-tabs > li {
    margin: 0 !important;
}

    .nav-tabs > li > a i {
        display: block;
        color: #525e64;
        font-size: 35px;
        margin: 0 0 15px 0;
        transition: color .6s;
    }

.tab-box.inverse .panel {
    border-top-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.tab-box.inverse .nav-tabs > li > a {
    padding-top: 30px;
    padding-bottom: 0;
}

.tab-box.inverse .nav-tabs li a {
    margin: 0;
    border-top: none !important;
}

.tab-box.inverse .nav-tabs li {
    top: 0 !important;
}

.tab-box.inverse .nav-tabs > li.active > a:after {
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-bottom: none;
    top: 0px;
}

.tab-box .nav-tabs li {
    background: none !important;
}

.tab-box.inverse .nav-tabs li.active a {
    border-top-style: none !important;
}

.tab-box.left .nav a, .tab-box.right .nav a {
    position: relative;
}

    .tab-box.left .nav a i, .tab-box.right .nav a i {
        position: relative;
        font-size: 20px;
        left: 0;
        display: inline-block;
        margin-left: 15px;
        transform: translateY(3px);
    }

    .tab-box.right .nav a i {
        margin: 0 15px 0 0;
    }

.nav-pills > li > a {
    border-radius: 0;
    font-weight: 500 !important;
    color: #4C4C4C;
}


.progress {
    overflow: visible;
    height: 3px;
    background-color: #e8e8e8;
}

.progress-bar {
    box-shadow: none !important;
    color: #30353b;
    background-color: #383838;
    height: 3px;
}

    .progress-bar > span {
        padding: 2px 0 2px 5px;
        width: 60px;
        transform: translateY(-31px);
        border-radius: 3px;
        display: block;
        text-align: right;
        white-space: nowrap;
        font-weight: 900;
        float: right;
    }

.progress-label {
    font-weight: 600;
    margin-top: 0;
    font-size: 12px;
    color: #30353b;
}


.adv-img-classic-box .caption {
    background: rgba(0, 0, 0, 0.5) !important;
    transition: all .6s;
}

    .adv-img-classic-box .caption:hover {
        background: rgba(0, 0, 0, 0.8) !important;
    }

.adv-img-classic-box .caption-inner {
    left: 0;
    right: 0;
    text-align: center;
    max-height: 190px;
    padding: 20px 50px;
    top: 50%;
    margin-top: -50px;
    transition: all .6s;
}

    .adv-img-classic-box .caption-inner h2 {
        text-transform: none;
        font-size: 30px;
        line-height: 40px;
        font-weight: 900;
    }

.col-md-3 .adv-img-classic-box .caption-inner h2, .col-md-2 .adv-img-classic-box .caption-inner h2, .container .col-md-4 .adv-img-classic-box .caption-inner h2, .carousel .adv-img-classic-box .caption-inner h2 {
    font-size: 20px;
}

.adv-img-classic-box .caption-inner p.sub-text {
    margin-top: 10px;
    height: 30px;
    font-weight: 900;
}

.adv-img-classic-box .caption-inner p.big-text {
    height: 70px;
    transition: all .6s;
    opacity: 0;
}

.adv-img-classic-box:hover .caption-inner {
    margin-top: -95px;
}

    .adv-img-classic-box:hover .caption-inner .big-text {
        opacity: 1;
    }

.box-lightbox {
    border-radius: 0;
    padding: 0;
}

button.mfp-close {
    background: #fff;
    color: #1d1d1d !important;
    opacity: 1;
    right: 17px;
}

.box-lightbox > .img-box:first-child, .box-lightbox > .flexslider:not(.carousel) .img-box, .box-lightbox iframe {
    width: 100%;
    height: 450px;
    display: block;
}

.box-lightbox .lightbox-container {
    padding: 50px;
}

.box-lightbox.m {
    max-height: 100%;
}

.list-texts li b {
    font-weight: 500;
}


header.scroll-css .navbar-brand, .fp-enabled header .navbar-brand {
    padding: 5px 15px;
    transition: all .6s;
}

header.scroll-css .navbar-nav > li > a, .fp-enabled .navbar-nav > li > a {
    padding: 17px 15px 13px 15px;
    min-height: 50px;
    transition: all .6s;
}

header.scroll-css .navbar-right .search-box-menu, .fp-enabled header .navbar-right .search-box-menu {
    padding: 0;
    transition: all .6s;
    font-size: 20px;
}

header.scroll-css .search-box-menu .btn-search {
    padding: 8px 35px 0px 35px;
}

header .search-box-menu {
    padding: 23px 0;
}

header.subtitle-header .search-box-menu {
    padding: 33px 0;
}

header.scroll-css .search-box-menu .btn-search span {
    font-size: 18px;
}

header.scroll-css .navbar-social .social-group a, .fp-enabled .navbar-social .social-group a {
    margin: 0 !important;
    transition: all .6s;
}

.fp-enabled header .navbar-main .navbar-right .navbar-form {
    margin: 0;
    padding: 0;
}

.fp-enabled .navbar-brand img {
    max-height: 20px;
    transition: none;
}

.home-fullpage .col-md-6 {
    margin-left: 22px;
    background: #fff;
    max-width: 30%;
    bottom: 0;
    top: auto;
    position: absolute;
    height: auto;
}

.home-fullpage div {
    height: 100%;
}

.advs-box-side h3 {
    margin-top: 0;
}

.advs-box-side hr {
    display: none;
}

.advs-box-side .btn-text, .advs-box-side a.btn {
    margin-top: 20px;
}

.advs-box-side .img-box > img, [href='#'].img-box img {
    opacity: 1 !important;
}

.advs-box-side .img-box:before {
    display: none;
}

.advs-box-side.boxed .col-md-4, .advs-box-side.boxed-inverse .col-md-4 {
    margin: -50px 10px -50px -50px;
}


i.circle, i.square, .icon-box-cell > i.circle, .icon-box-cell > i.square {
    display: inline-block;
    color: #fff !important;
}

.maso-box > .maso-item, .grid-box > .grid-item {
    padding: 7px;
}

.social-group i.circle {
    border: none !important;
    font-size: 17px !important;
}

    .social-group i.circle.text-s {
        font-size: 15px !important;
    }

.header-base .title-base h1 {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 20px !important;
    margin-bottom: 0;
}

.header-base .breadcrumb.b {
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb > li + li:before {
    color: rgba(255, 255, 255, 0.71);
    content: "\00b7";
    font-size: 30px;
    line-height: 5px;
    position: relative;
    display: inline-block;
    transform: translate(-2px,6px);
}

.advs-box-side-icon h3, .advs-box-top-icon-img h3 {
    margin-top: 0;
}

.extra-content {
    background: none;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 30px;
    font-size: 12px;
    padding: 4px 10px 1px 10px;
}

.advs-box-top-icon-img.boxed .advs-box-content, .advs-box-top-icon-img.boxed-inverse .advs-box-content {
    border: none;
}

.header-title hr, .header-video hr, .header-base hr, .header-slider hr, .header-animation hr {
    display: none;
}

.header-title h1, .header-video h1, .header-base h1, .header-slider h1, .header-animation h1 {
    font-weight: 900;
    animation: fadeleftTitle 1.5s;
    opacity: 1 !important;
    font-size: 30px !important;
}

.title-base h1, .title-icon h2, .title-icon h1, .title-base.title-small h2, .title-animation h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
}

.title-base.title-small h2 {
    line-height: 25px;
}

.header-animation .title-base {
    margin-top: 100px !important;
}

.header-title p, .header-video p, .header-base p, .header-slider p {
    animation: faderightTitle 1.5s;
    opacity: 1 !important;
    color: rgba(255, 255, 255, 0.65) !important;
}

.header-base p {
    margin: 0;
}

@keyframes fadeleftTitle {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes faderightTitle {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.mi-menu .sidebar-nav {
    border: none;
   /*border-left-style: solid;*/
    border-left-width: 2px;
}

.mi-menu ul li > a, .sidebar-nav .panel-item > span {
    font-weight: 500;
}

ul.side-menu li, ul.side-menu li a {
    background: none !important;
    position: relative;
}

ul.side-menu.ms-simple li.active:before {
    content: "";
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    position: absolute;
}

.timeline > li > .timeline-label h4 {
    font-size: 40px;
}

.timeline > li > .timeline-label p {
    opacity: 1;
    margin-top: 15px;
    font-weight: 600;
}

.timeline > li > .timeline-panel {
    border: none;
}

    .timeline > li > .timeline-panel:before {
        display: none;
    }

.timeline-title {
    margin-bottom: 15px;
}

.timeline small {
    margin: -10px 0 15px 0;
    font-weight: 400;
}

.list-items .list-item h3 {
    text-transform: none;
}

.list-items .list-item p {
    font-weight: 400;
}

.list-items .list-item {
    border-bottom: 1px solid rgba(142, 142, 142, 0.08);
}

    .list-items .list-item span {
        font-weight: 900;
        text-align: right;
        font-size: 15px;
    }

.img-box.thumbnail {
    padding: 15px;
    border: none;
    background: #f6f9f8;
    border-radius: 0;
}

    .img-box.thumbnail.circle {
        border-radius: 50%;
    }

.img-box.circle.thumbnail:before {
    margin: 15.5px;
}

.img-box.thumbnail:before {
    margin: 15.4px;
}

.overlaybox-side .overlaybox-inner {
    border-radius: 0px;
    padding: 50px;
}

.overlaybox-side .row {
    text-align: left;
}

.album-title .btn .fa:before {
    position: relative;
    transform: translateY(6px);
    display: inline-block;
    font-size: 24px;
    line-height: 0;
}

.album-title {
    font-weight: 600;
    font-size: 17px;
    text-transform: none;
}

.counter-box-icon .counter {
    font-weight: 900;
}

.counter-box-icon p, b, strong {
    font-weight: 500;
}

.nav.inner.ms-rounded li a {
    padding: 13px 15px 10px 15px;
    border: 1px solid #5a5a5a;
    background: none !important;
    transition: all.3s;
    border-radius: 0 !important;
}

.ms-rounded .maso-order i {
    line-height: 22px;
    transform: translateY(2px);
}

.form-box p {
    font-weight: 500;
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background: none;
}

.accordion-list .list-group-item {
    border-top: none;
    border-bottom: 1px solid #555;
}

    .accordion-list .list-group-item:before {
        content: '+';
        position: absolute;
        transition: all .6s;
        width: 25px;
        height: 25px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        padding: 3px 6px;
        margin-top: 18px;
    }

    .accordion-list .list-group-item.active-panel:before {
        content: '-';
    }

    .accordion-list .list-group-item a {
        font-weight: 500 !important;
        color: #272b2b;
        padding: 20px 15px 20px 45px;
        border: none !important;
        margin: 0 !important;
    }

    .accordion-list .list-group-item > .panel > .inner {
        padding: 10px 0;
        color: #4C4C4C;
    }

    .accordion-list .list-group-item > a:hover {
        background: none;
        color: #272b2b;
    }

.accordion-list {
    margin-top: -15px !important;
}

    .accordion-list .list-group-item:last-child {
        border-bottom: none;
    }

.adv-img-down-text .caption-bottom {
    background: #fff;
}

.section-bg-color .adv-img-down-text .caption-bottom {
    background: #f6f9f8;
    overflow: visible;
}

.adv-img-down-text h2 a {
    font-size: 15px;
    padding-bottom: 0;
    background: #ffffff;
    position: relative;
    margin: -40px 15px 0 15px;
    padding-top: 10px;
    display: block;
    z-index: 9;
    border-top: 1px solid #3E3E3E;
}

i.text-m {
    font-size: 24px !important;
    line-height: 25px;
}

.niche-box-team .content-box h4 {
    font-weight: 400;
    text-transform: none;
    font-size: 13px;
}

.niche-box-team .content-box h2 {
    font-weight: 600;
}

.niche-box-team .content-box hr {
    border-top-width: 1px;
}

.progress-circle .inner-circle .counter-circle, .inner-circle .sub {
    font-weight: 500;
}

.inner-circle hr {
    display: none;
}

.table > thead > tr > th {
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom: 1px solid #272b2b;
    padding: 15px;
}

.table:not(.table-condensed) > tbody > tr > td {
    padding: 15px;
}

.table > tbody > tr > td {
    font-size: 13px;
    font-weight: 400;
    border-color: #f1f1f1;
}

.table > tbody > tr {
    transition: all .6s;
}

.bootgrid-table th {
    /* padding-left: 0 !important; */
}

.bootgrid-header .search-field {
    height: 37px;
}

.section-bg-color .table > tbody > tr > td {
    color: #fff;
}

.input-group .form-control, .input-group-addon {
    border: 1px solid #272b2b;
}

.btn-group > ul a:before {
    display: none;
}

.btn-group > ul a, .btn-group .dropdown-menu .dropdown-item {
    font-size: 13px;
    font-weight: 500;
    padding: 10px 15px !important;
}

.btn-group .dropdown-menu input {
    margin-bottom: 0 !important;
}

.pagination > li > a {
    background: none !important;
    border: none !important;
    font-weight: 600;
    color: #272b2b;
}

.pagination > li.disabled > a, .advs-box.boxed .circle, .advs-box-multiple.boxed div.circle span {
    color: #272b2b !important;
}

.pagination-sm > li > a {
    font-weight: 600 !important;
}

.infoBar .infos {
    font-weight: 500;
    color: #272b2b;
}

.bootgrid-table a.btn {
    border: none;
    padding: 0;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(245, 245, 245, 0.3);
}

.social-group-button .social-group i {
    height: 26px;
    line-height: 13px !important;
    width: 26px;
}

.flexslider.white .flex-direction-nav li a:before {
    text-shadow: none;
}

::-moz-placeholder {
    color: rgb(53, 53, 53) !important;
    font-size: 12px;
}

::-webkit-input-placeholder {
    color: rgb(53, 53, 53) !important;
    font-size: 12px;
}

.white ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.80) !important;
}

.white ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.80) !important;
}

.advs-box-multiple div.circle {
    border: none;
    font-size: 17px;
    line-height: 30px;
    padding-top: 22px;
    font-weight: 600;
}

    .advs-box-multiple div.circle span {
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
        color: #fff;
    }

.advs-box-multiple .circle i {
    font-size: 35px;
    line-height: 48px;
}

.block-infos .block-data {
    border: none;
}

.niche-box-blog .block-infos .block-data {
    margin-top: -15px;
    width: 87px;
}

.niche-box-blog .block-infos {
    border-right: 2px solid #000;
    width: 117px;
}

.niche-box-blog .block-top .block-title {
    padding-left: 30px;
}

.input-group-btn > .btn {
    max-height: 34px;
}

.list-group-item {
    border: none;
    font-weight: 400;
}

    .list-group-item.active {
        font-size: 18px;
        color: #4C4C4C;
        margin-top: 30px;
    }

a.list-group-item:hover {
    background: none;
}

.list-blog p {
    font-size: 15px;
    font-weight: 300;
}

.tagbox span, .tagbox a, .tagcloud a {
    border-radius: 0;
    background-color: #272b2b;
    font-weight: 500;
    font-size: 12px;
}

.list-blog .img-box.circle {
    transform: translateY(10px);
}

.niche-box-blog.boxed, .niche-box-blog.boxed-inverse {
    padding: 70px 25px;
}

    .niche-box-blog.boxed .img-box, .niche-box-blog.boxed-inverse .img-box, .niche-box-blog.boxed .flexslider, .niche-box-blog.boxed-inverse .flexslider,
    .niche-box-blog.boxed iframe, .niche-box-blog.boxed-inverse iframe {
        margin: 25px -26px;
        width: auto;
        max-width: none;
        display: block;
    }

    .niche-box-blog.boxed iframe, .niche-box-blog.boxed-inverse iframe {
        width: 100%;
        width: calc(100% + 50px);
        margin: 25px -25px;
    }

.grid-item:not(.col-md-12) .niche-box-post h2 a, .maso-item:not(.col-md-12) .niche-box-post h2 a, .col-md-4 .niche-box-post h2 a, .col-md-4 .niche-box-blog h2 a,
.carousel .niche-box-post h2 a, .carousel .niche-box-blog h2 a {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 15px;
    display: block;
}

.col-md-4 .niche-box-post .block-infos p.bd-day, .col-md-4 .niche-box-blog .block-infos p.bd-day {
    font-size: 60px;
}

.niche-box-post.boxed .block-infos, .niche-box-post.boxed-inverse .block-infos {
    bottom: auto;
    padding: 25px 30px 15px 30px;
    width: auto;
    background: #fff;
}

.niche-box-post.boxed p.bd-day, .niche-box-post.boxed-inverse p.bd-day, .carousel .niche-box-post p.bd-day, .carousel .niche-box-blog p.bd-day {
    font-size: 50px !important;
    padding: 0;
}

.carousel .niche-box-blog .block-infos .block-data {
    margin-top: -5px;
}

.carousel .niche-box-blog .block-infos {
    width: 90px !important;
}

.box-social-page {
    padding: 15px 25px;
    color: #FFF !important;
    z-index: 9;
    position: relative;
}


.blog-social.section-empty {
    overflow: visible;
}

    .blog-social.section-empty .container:first-child .row {
        margin-top: -30px;
    }

.block-quote.quote-1, .block-quote.quote-2 {
    font-size: 18px;
}

.comment-list .name span {
    font-weight: 400;
    position: absolute;
    left: 20px;
    top: 25px;
    text-transform: uppercase;
}

.comment-list .name {
    margin-bottom: 40px;
    position: relative;
}

    .comment-list .name:before {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #dadada;
        width: 20px;
        top: 34px;
    }


.mega-tabs .nav-tabs {
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-color: #e6e6e6 !important;
    margin: 0 15px;
}

.mega-tabs .tab-box .nav-tabs > li > a {
    padding-top: 10px;
    font-weight: 500;
}

.mega-menu .nav-tabs li {
    margin-bottom: -1px !important;
}

    .mega-menu .nav-tabs li.active {
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

.mega-tabs .tab-box .panel {
    padding-bottom: 0;
}

header.subtitle-header.scroll-css .search-box-menu .btn-search span {
    font-size: 23px;
    margin: 15px 0;
}

.subtitle-header.scroll-css .lan-menu > li > a, .fp-enabled .subtitle-header.scroll-css .lan-menu > li > a {
    padding: 30px 15px 20px 15px;
}

.stack-list {
    height: 530px;
}

    .stack-list img {
        position: absolute;
    }

        .stack-list img:nth-child(1) {
            margin-top: 0;
            z-index: 9;
        }

        .stack-list img:nth-child(2) {
            margin-top: 60px;
            z-index: 8;
        }

        .stack-list img:nth-child(3) {
            margin-top: 120px;
            z-index: 7;
        }

        .stack-list img:nth-child(4) {
            margin-top: 180px;
            z-index: 5;
        }

.footer-parallax {
    height: 470px;
}

.footer-parallax-container {
    margin-bottom: 400px;
}

.footer-parallax .copy-text {
    margin-top: 0;
}

.footer-parallax .footer-main {
    padding-top: 80px;
}

header ul.side-menu > li > a, .side-menu ul .active > a {
    font-weight: 500;
}

ul.side-menu.ms-simple > li > a {
    padding-left: 50px;
}

header ul.side-menu.ms-simple {
    /* top: 50%; */
    /* position: relative; */
    /* transform: translateY(-50%); */
}

header .top-area form button {
    font-size: 12px;
    padding: 0 0 0 15px;
}

header .top-area form input {
    font-size: 12px;
    border: none !important;
}

.collapse-button {
    font-weight: 500;
    transition: all .6s;
}


.base-box.boxed, .base-box.boxed-inverse, .boxed-inverse, [class*="col-md-"].boxed, [class*="col-md-"].boxed-inverse, .grid-box > .grid-item.boxed-inverse, .row.vertical-row > div.boxed-inverse, .row.vertical-row > div.boxed {
    padding: 50px;
}

.flexslider.outer-navs a.flex-next {
    width: 80px;
    transform: translateX(110px);
}

.flexslider.outer-navs a.flex-prev {
    width: 80px;
    transform: translateX(-110px);
}

.fullpage-menu li span {
    font-weight: 400;
}


hr.e {
    border-top-width: 1px;
}

i.text-s.circle, i.text-s.square {
    font-size: 20px !important;
}


[class*="boxed"][class*="col-md-"] > .flexslider.nav-inner .flex-control-nav {
    top: -25px;
    right: -35px;
}

[class*="row-"] > .img-box {
    display: block;
    height: 100%;
}

.half-side {
    border-style: none !important;
}

#twosides-menu {
    display: inline-block;
    padding: 15px 30px;
}

.twoside-open hr {
    display: none;
}

.twoside-open {
    font-weight: 500;
    letter-spacing: .3px;
}

.boxed-inverse {
    color: #676a6b;
}

.datepicker-panel > ul > li {
    font-weight: 600;
}

[data-view="days"] li {
    font-weight: 400 !important;
}

.datepicker-panel > ul > li.picked {
    font-weight: 600 !important;
    border-style: solid;
    border-width: 1px;
    background: none;
}

.datepicker-panel > ul > li:hover {
    background: none;
}

.img-box.inner .caption {
    font-weight: 500;
}

.adv-img-button-content .caption .inner {
    background: #fff;
    border-bottom: 1px solid #3a3a3a;
}

.adv-img-button-content h2 {
    text-transform: none;
    margin: 30px 15px 15px 15px;
}

.adv-circle h2 {
    text-transform: none;
}

.adv-img-full-content i.main-icon {
    margin-bottom: 25px;
    display: inline-block;
}

.advs-box-top-icon-img .icon {
    padding: 15px;
    margin: -10px;
}

.advs-box-side-img hr, .doc-title h4:before {
    display: none;
}

.advs-box-side-img.advs-box-blog .tag-row {
    margin: 30px 0;
}

.call-action-box .btn {
    background: #fff !important;
    padding: 10px 30px 7px 30px;
    width: 100%;
    overflow: hidden;
}

.btn-group-icons i {
    display: inline-block;
    transform: translateY(2px);
}

.btn-group-icons.btn-group-lg i {
    transform: translateY(5px);
}

.social-button i.circle {
    font-size: 16px !important;
}

.social-group-button .social-group i {
    font-size: 12px !important;
}

.title-small h2:before {
    display: none;
}

.title-base p, div.title-icon p {
    margin-top: 0px;
}

.title-modern h2 {
    font-size: 17px;
    font-weight: 900;
    border-width: 2px;
    margin: -2px;
}

.title-modern hr {
    border-width: 2px;
}

.album-title .btn .fa {
    transform: translateY(0);
}

.panel-default > .panel-heading {
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 500;
}

.footer-minimal .footer-title {
    font-weight: 900;
    opacity: 1;
    color: #56bdbd;
}

.navbar-mini .navbar-left span {
    font-weight: 400;
}

header .search-input {
    padding: 15px 0;
}

header a.btn-search, .navbar-mini .navbar-form .btn-default {
    font-size: 12px;
    font-weight: 500;
}

.subline-bar {
    color: #fff;
    font-weight: 500;
}

    .subline-bar ul {
        float: left;
    }

        .subline-bar ul li {
            padding: 15px;
            border-bottom: 1px solid rgba(81, 175, 175, 0.00);
            transition: all .6s;
        }

            .subline-bar ul li:first-child {
                padding-left: 0px;
            }

    .subline-bar a {
        color: #fff;
    }


    .subline-bar li:hover {
        background: rgba(222, 221, 221, 0.00);
        border-bottom: 1px solid rgba(255, 255, 255, 0.41);
    }

.navbar-middle .navbar-brand {
    position: static;
    top: 0;
    transform: translateY(0);
}

.navbar-mini .navbar-form input {
    border: none;
    background: none;
}

.box-menu-inner > .row {
    border-radius: 50px !important;
    padding: 15px;
    background-color: #fdfdfd;
}

.box-menu-inner .icon-box label {
    color: #4c4c4c;
    font-size: 15px !important;
    font-weight: 500;
}

.icon-menu .navbar-brand {
    height: auto;
}

.icon-menu .navbar-collapse ul.nav > li > a i {
    color: #cecece;
}

.side-menu .collapse, .side-menu .collapsing, .side-menu li > ul > li > a {
    font-weight: 300;
    padding-left: 10px !important;
}

.side-menu .active > a > .fa.plus-times {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dropdown-submenu > a:after {
    border: none;
    margin-right: 10px;
}

.side-menu > li > a > i {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
    transform: translateY(3px);
    display: inline-block;
}

.grid-box.row, .maso-box.row {
    margin: -7px;
}

.no-margins .grid-box.row, .no-margins .maso-box.row {
    margin: 0;
}

.side-menu.ms-simple li:hover {
    opacity: 1;
}







/*
==============================
MOBILE - PHONE - Extra small devices
==============================
*/
@media (max-width: 992px) {

    header .navbar-nav > li > a {
        padding: 10px 15px 10px 15px;
        min-height: auto;
    }

    .navbar-nav > li.dropdown:hover > a:after, .nav-tabs > li.active > a:after {
        display: none;
    }

    header ul.navbar-nav {
        margin-top: 15px;
    }

    header button.navbar-toggle {
        margin: 9px 6px 0 6px;
        max-height: 40px;
    }

        header button.navbar-toggle i {
            font-size: 34px;
            margin-top: 0;
        }

    .navbar-nav > li > .dropdown-menu {
        padding: 10px;
    }

    div.mega-menu-fullwidth .mega-dropdown .mega-menu {
        padding-left: 23px;
    }

    div.mega-menu-fullwidth .mega-dropdown.mega-tabs .mega-menu {
        padding-left: 33px;
    }

    header .mega-tabs .nav-tabs {
        margin-left: 0;
        border-bottom: none !important;
    }

    header .mega-tabs .tab-box .nav-tabs > li > a {
        padding: 10px 0;
        background: none !important;
    }

    .title-base h2:before, .title-base h4:before {
        display: none;
    }

    .advs-box-top-icon-img .advs-box-content {
        padding-left: 0;
    }

    .niche-box-post .block-infos {
        position: static;
        padding: 0;
    }

    .advs-box-side.boxed .col-md-4, .advs-box-side.boxed-inverse .col-md-4 {
        margin: -55px 10px 20px -50px;
        width: 100%;
        width: calc(100% + 100px);
    }

    .maso-item .advs-box .img-box img {
        width: 100%;
    }

    .flexslider.nav-inner .flex-control-nav {
        margin: 0;
        right: 0;
        padding: 0;
        top: 5px;
    }

    .menu-transparent .navbar-collapse {
        background-color: #fff;
    }

    header.bg-transparent .navbar-default .navbar-nav > li > a, .bg-transparent .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #3a3a3a !important;
    }

    .img-box.adv-img-half-content .caption {
        padding: 15px;
    }

    .text-xl {
        font-size: 35px !important;
        line-height: 45px;
    }

    .text-l {
        font-size: 27px !important;
        line-height: 31px !important;
    }

    .nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs li.active:last-child a {
        padding-top: 30px;
        background: none !important;
        border: none !important;
    }

    .nav-tabs > li {
        border: none !important;
    }

    .adv-img-classic-box .caption-inner h2 {
        font-size: 20px;
    }

    .box-lightbox > .img-box:first-child, .box-lightbox > .flexslider:not(.carousel) .img-box, .box-lightbox iframe {
        height: auto;
    }

    .stack-list img {
        left: 0;
    }

    .hamburger-button {
        margin-top: 8px;
    }

    .sec-twoside > .row {
        margin: 0;
        width: 100%;
    }

    .header-base .title-base h1, .header-base .title-base p {
        text-align: center;
        line-height: 25px;
        padding-top: 15px;
    }

    .tab-box > .panel-box > .panel, .tab-box.left .panel-box, .tab-box.right .panel-box {
        border: none !important;
        padding: 0 !important;
    }

    .tab-box.right .nav-tabs > li > a, .tab-box.left .nav-tabs > li > a {
        padding: 15px 30px;
        text-align: center;
        background: none !important;
        border: none !important;
    }

    .tab-box.right .nav-tabs {
        margin: 15px 0;
    }

    .navbar-inner .navbar-toggle {
        border-radius: 0;
    }

    .dropdown.btn-group ul {
        left: 0px;
    }

    .white .navbar-inner .navbar-toggle {
        background: #fff;
        border: none;
    }

    .block-infos p.bd-day {
        line-height: 40px;
        font-size: 35px;
    }

    .niche-box-post h2 a, .niche-box-blog h2 a, .advs-box-side-img.advs-box-blog h2 a, .niche-box-blog .block-title h2 {
        font-size: 20px;
        line-height: 24px !important;
    }

    .niche-box-blog .block-infos {
        width: 90px;
    }

    .carousel .niche-box-blog .block-infos .block-data {
        margin-top: 5px;
    }

    .subline-bar ul li:first-child {
        padding-left: 15px;
    }

    .icon-menu .navbar-toggle {
        margin-top: 10px;
    }

    .side-menu .collapse, .side-menu .collapsing {
        padding-left: 30px !important;
    }

        .side-menu .collapse .collapse {
            padding-left: 0 !important;
        }
       .mi-menu .sidebar-nav li.panel-item ul li a {
           padding-left: 8px;
           font-weight: 300;
       }
}

@media (max-width:1400px) {
    .flexslider.outer-navs a.flex-next {
        transform: translateX(0);
        background: #fff;
        border: 1px solid #353535;
    }

    .flexslider.outer-navs a.flex-prev {
        transform: translateX(0);
        background: #fff;
        border: 1px solid #353535;
    }
}
