<footer class="footer-center footer-minimal">
    <div class="content">
        <div class="container">
            <div class="row footer-main">
                <p>Ορόσημο Πειραιά</p>
                <p>Κοινωνικό</p>
                <div class="btn-group navbar-social">
                    <div class="btn-group social-group">
                        <a target="_blank" href="https://el-gr.facebook.com/orosimo.peiraia/"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCh0fw-LV_5iXczbizb9Jl_g/featured"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103589743-1', 'auto');
    ga('send', 'pageview');

</script>
