<header class="fixed-top scroll-change" data-menu-anima="fade-in">
  <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
    <div class="navbar navbar-main">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="http://orosimo-peiraia.gr"><%= image_tag 'logo.png'%></a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <li class="dropdown active current-active">
                <%= user_signed_in? ?  ' ' : (link_to 'Είσοδος', new_user_session_path)%>
              </li>
              <!-- to be added current_user helper -->
              <%if user_signed_in?%>
              <li class="dropdown active current-active">
                <%= link_to('Έξοδος', destroy_user_session_path, :method => :delete) %>
              </li>
              <li class="dropdown active current-active">
                <%= link_to 'Προφίλ', user_path(current_user) %>
              </li>
              <% if current_user.admin?%>
              <li class="dropdown active current-active">
                <%= link_to 'Μαθήματα', mathimas_path%>
              </li>
              <li class="dropdown active current-active">
                <%= link_to 'Τάξεις', taxis_path%>
              </li>
              <%end%>
            <% end %>

              <li class="dropdown active current-active">
                <%= user_signed_in? ? ' ' : (link_to 'Εγγραφή', new_user_registration_path)%>
              </li>

              <li class="dropdown active current-active">
                <%= link_to 'Home', root_path%>
              </li>
              <li class="dropdown active current-active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Βιντεομαθήματα<span class="caret"></span></a>
                <% if (!devise_controller?) %>
                <ul class="dropdown-menu">
                  <% @taxis.order('taxi ASC').limit(3).each do |t|%>
                    <li><%= link_to "#{t.taxi}", taxi_path(t) %></li>
                  <% end %>
                </ul><!--eswteriko ul -->
                <%end%>
              </li>

              <li class="dropdown active current-active">
                <%= link_to 'Contact', contact_path%>
              </li>

              <li class="dropdown active current-active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Πανελλήνιες<span class="caret"></span></a>
                <ul class="dropdown-menu multi-level">
                  <li><%= link_to 'Θέματα', "http://orosimo-peiraia.gr/panelladikes"%><li>
                  <li><%= link_to 'Προτεινόμενα Θέματα', "http://www.orosimo-peiraia.gr/suggested_posts"%><li>
                  <li><%= link_to 'Βάσεις προηγουμενης χρονιάς', "http://orosimo-peiraia.gr/panelladikes" %><li>
                  <li class="divider"></li>
                  <li class="dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Επαγγελματικός Προσανατολισμός</a>
                <% if (!devise_controller?) %>
                    <ul class="dropdown-menu">
                      <% @taxis.last.mathimas.each do |t|%>
                    <li><%= link_to "#{t.mathima}", mathima_path(t.id) %></li>
                  <% end %>
                    </ul>
              <%end%>
                  </li>
                </ul>
              </li>

              <li class="dropdown active current-active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Τεχνολογίες στην Εκπαίδευση<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Τάσεις', technology_path %></li>
                  <li><%= link_to 'STEAM', "#"%></li>
                </ul>
              </li>


            </ul>
            <div class="btn-group navbar-left navbar-social">
              <div class="btn-group social-group">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100004956737996&fref=ts"><i class="fa fa-facebook"></i></a>
              </div>
              <div class="btn-group social-group">
                <a target="_blank" href="https://www.youtube.com/channel/UCh0fw-LV_5iXczbizb9Jl_g"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
          </div><!--navbar right -->
          </div>
        </div><!--collapse -->
      </div><!-- containaer -->
    </div><!--navbar navbar-main -->
  </div><!--navbar megalo proto -->
</header>
