<p>Καλησπέρα σας, <%= @resource.email %>!</p>


<p>Κάποιος έχει αιτηθεί την αλλαγή κωδικού στο λογαριασμό σας.Πατήστε στον παρακάτω σύνδεσμο για να γίνει η αλλαγή.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Σε περίπτωση που δεν ζητήσατε εσείς την αλλαγή του κωδικού σας, παρακαλώ αγνοήστε αυτό το mail.</p>
<p>Ο κωδικός σας δεν θα αλλάξει μέχρι να πατήσετε τον σύνδεσμο παραπάνω και έπειτα να συμπληρώσετε τη φόρμα αλλαγής.</p>

